<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-amap" version="2.0.1">

  <name>cordova-plugin-amap</name>

  <description>Amap Maps native SDK for Android and iOS.
This plugin allows your application to use the native Amap Maps views instead of the Amap Maps JavaScript API v3.
The native map view is faster, use less network usage, display 3D views, and even work on offline network.</description>

  <author>dev@Silverbase-FE</author>
  <license>Apache 2.0 License</license>
  <keywords>amap,maps,geo</keywords>
  <repo>https://github.com/Silverbase-FE/cordova-plugin-amap.git</repo>
  <issue>https://github.com/Silverbase-FE/cordova-plugin-amap/issues</issue>

  <engines>
    <engine name="cordova" version=">=7.1.0" />
    <engine name="cordova-android" version=">=5.1.0" />
    <engine name="cordova-ios" version=">=4.0.0" />
    <engine name="apple-xcode" version=">=9.0.0" />
    <engine name="apple-ios" version=">=10.0.0" />
  </engines>

  <asset src="www/amap.js" target="js/amap.js" />

  <js-module src="www/amap.js" name="AMapPlugin">
    <clobbers target="window.AMapPlugin" />
  </js-module>

  <platform name="android">
    <preference name="API_KEY_FOR_ANDROID" />

    <info>
        Official document
        https://github.com/Silverbase-FE/cordova-plugin-amap/blob/master/README.md
    </info>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AMapPlugin">
        <param name="android-package" value="com.yxt.cordova.AMapPlugin" />
      </feature>
    </config-file>

    <!-- android -->
    <source-file src="src/android/AMapPlugin.java" target-dir="app/src/main/java/com/yxt/cordova" />
    <source-file src="src/android/MapActivity.java" target-dir="app/src/main/java/com/yxt/cordova" />
    <source-file src="src/android/TraceActivity.java" target-dir="app/src/main/java/com/yxt/cordova" />

    <source-file src="src/android/res/drawable-hdpi/location_marker.png" target-dir="app/src/main/res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-land-hdpi/location_marker.png" target-dir="app/src/main/res/drawable-land-hdpi" />
    <source-file src="src/android/res/drawable-land-ldpi/location_marker.png" target-dir="app/src/main/res/drawable-land-ldpi" />
    <source-file src="src/android/res/drawable-land-mdpi/location_marker.png" target-dir="app/src/main/res/drawable-land-mdpi" />
    <source-file src="src/android/res/drawable-land-xhdpi/location_marker.png" target-dir="app/src/main/res/drawable-land-xhdpi" />
    <source-file src="src/android/res/drawable-ldpi/location_marker.png" target-dir="app/src/main/res/drawable-ldpi" />
    <source-file src="src/android/res/drawable-mdpi/location_marker.png" target-dir="app/src/main/res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-port-hdpi/location_marker.png" target-dir="app/src/main/res/drawable-port-hdpi" />
    <source-file src="src/android/res/drawable-port-ldpi/location_marker.png" target-dir="app/src/main/res/drawable-port-ldpi" />
    <source-file src="src/android/res/drawable-port-mdpi/location_marker.png" target-dir="app/src/main/res/drawable-port-mdpi" />
    <source-file src="src/android/res/drawable-port-xhdpi/location_marker.png" target-dir="app/src/main/res/drawable-port-xhdpi" />
    <source-file src="src/android/res/drawable-xhdpi/location_marker.png" target-dir="app/src/main/res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/location_marker.png" target-dir="app/src/main/res/drawable-xxhdpi" />

    <source-file src="src/android/AMap3DMap_6.3.0_AMapLocation_4.1.0_20180619.jar" target-dir="app/src/main/libs" />
    <source-file src="src/android/arm64-v8a" target-dir="app/src/main/libs" />
    <source-file src="src/android/armeabi" target-dir="app/src/main/libs" />
    <source-file src="src/android/armeabi-v7a" target-dir="app/src/main/libs" />
    <source-file src="src/android/x86" target-dir="app/src/main/libs" />
    <source-file src="src/android/x86_64" target-dir="app/src/main/libs" />

    <source-file src="src/android/res/layout/map_activity.xml" target-dir="app/src/main/res/layout" />
    <source-file src="src/android/res/layout/trace_activity.xml" target-dir="app/src/main/res/layout" />
    <source-file src="src/android/res/layout/comm_button_arrow.png" target-dir="app/src/main/res/mipmap" />

    <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest/application" mode="merge">
      <!-- 定位需要的服务 -->
      <service android:name="com.amap.api.location.APSService" />
      <!--APIKey-->
      <meta-data android:name="com.amap.api.v2.apikey" android:value="$API_KEY_FOR_ANDROID" />
      <activity android:label="客户地图" android:name="com.yxt.cordova.MapActivity" />
      <activity android:label="我的轨迹" android:name="com.yxt.cordova.TraceActivity" />
    </config-file>
    
    <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest" mode="merge">
      <uses-permission android:name="android.permission.INTERNET"/>
      <!--用于进行网络定位-->
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
      <!--用于访问GPS定位-->
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
      <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
      <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
      <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
      <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
      <!--用于访问网络，网络定位需要上网-->
      <uses-permission android:name="android.permission.INTERNET"></uses-permission>
      <!-- 用于读取手机当前的状态-->
      <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
      <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
      <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
      <!--定位包、导航包需要的额外权限（注：基础权限也需要） -->
      <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
      <!-- GPS -->
      <uses-feature android:name="android.hardware.location" />
      <uses-feature android:name="android.hardware.location.gps" />
    </config-file>

  </platform>

<platform name="ios">
    <preference name="API_KEY_FOR_IOS" />

    <config-file target="config.xml" parent="/*">
        <feature name="AMapPlugin">
            <param name="ios-package" value="CDVAMap4Yxt"/>
        </feature>
    </config-file>
    <header-file src="src/ios/CDVAMap4Yxt.h" />
    <source-file src="src/ios/CDVAMap4Yxt.m" />
    <header-file src="src/ios/MAMutablePolylineRenderer.h" />
    <source-file src="src/ios/MAMutablePolylineRenderer.m" />
    <header-file src="src/ios/MAMutablePolyline.h" />
    <source-file src="src/ios/MAMutablePolyline.m" />
    <header-file src="src/ios/SBGMapHeaderView.h" />
    <source-file src="src/ios/SBGMapHeaderView.m" />

    <!--资源文件-->
    <resource-file src="src/ios/MAMapKit.framework/AMap.bundle" />

    <!--引入framework-->
    <framework src="src/ios/AMapLocationKit.framework" custom="true" />
    <framework src="src/ios/AMapFoundationKit.framework" custom="true" />
    <framework src="src/ios/MAMapKit.framework" custom="true" />

    <framework src="UIKit.framework" />
    <framework src="Foundation.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="QuartzCore.framework" />
    <framework src="Security.framework" />
    <framework src="CoreTelephony.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="CoreLocation.framework" />
    <framework src="OpenGLES.framework" />
    <framework src="AdSupport.framework" />
    <framework src="JavaScriptCore.framework" />
    <framework src="GLKit.framework" />
    <framework src="libstdc++.6.0.9.tbd"/>
    <framework src="libc++.tbd" />

    <!--XCode9.1存在BUG 需手动添加下-->
    <framework src="libz.tbd" />
    <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
        <string>App中签到等功能需要使用系统定位服务，请允许</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
        <string>App中签到等功能需要使用系统定位服务，请允许</string>
    </config-file>

    <config-file target="-Info.plist" parent="NSPhotoLibraryUsageDescription">
        <string>是否允许此App访问您的相册?</string>
    </config-file>
    
    <config-file target="-Info.plist" parent="NSCameraUsageDescription">
        <string>是否允许此App访问您的相机?</string>
    </config-file>
    

    <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
    </config-file>

    <!-- APIKey 请自行配置 参照高德官网 -->
    <config-file target="*-Info.plist" parent="AMapApiKey">
        <string>$API_KEY_FOR_IOS</string>
    </config-file>

</platform>
</plugin>
